body {
    background-color: #F5F5DC;
    color:  #654321;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    }


header {
    background-color: #8A9A5B;
    color: #fff;
    text-align: center;
    padding: 20px;
    }

section {
    padding: 20px; /* espaciado para la sección de 20 pixeles */
}

footer {
    background-color: #8A9A5B; /* Color de fondo del footer */
    color: #fff;
    padding: 20px 0;
    text-align: center; 
}

.footer-content {
    max-width: 800px; /* Ancho máximo del contenido del footer */
    margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
    text-align: center; 
}

.info{
    background-color:#8A9A5B;
    padding: 2%;
    color:#2e3a19;
    text-align: center;
}

/* Estilos para el nav y enlaces de ul y li */
nav {
    background-color:#455726;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #2e3a19;
}

a:hover{
    background-color: #2e3a19;
}
/* Estilos para las imágenes */
img {
display: block; /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
margin: 0 auto; /* Centrar las imágenes horizontalmente */
width: 10%;
max-width: 100%; /* Asegurar que las imágenes no excedan el ancho del contenedor */
border: 3px solid #2e3a19; /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
border-radius: 10px; /* Borde redondeado de 10px para suavizar el contorno */
}

/*links*/
a{
    color:#F5F5DC;
    text-decoration: none;
    padding:10px;
    border-radius: 5px;
}

i{
    color:#2e3a19;
}
